body,
html,
#root,
.App {
  height: 100%;
  background-image: url(./bi.jpeg);
  background-size: cover;
}

.App {
  display: grid; 
  grid-template-rows: 75px 1fr;
}

a {
  text-decoration: none;
  color: inherit;
}

.app Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App header a {
  margin: 10px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 15px;

  cursor: pointer;
}

.App header .active-link {
  background-color: rgb(250, 185, 63);
}

.App main {

  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 50px;
}

.aut,
.list,
.detail,
.create {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  text-align: right;
  margin: 100px;
}

form label {
  display: block;
}

form button {
  margin: 5px;
}

form label input,
form label textarea,
form label select {
  margin: 5px;
}

select {
  width: 150px;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.detail {
  width: 60%;
  margin: 0 auto;
}
